<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgis.dao.DictionaryDao">
	<!-- 定义数据库字段与实体对象的映射关系  --> 
  	<resultMap id="dictionaryMap" type="com.sgis.entity.Dictionary">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_visible" jdbcType="INTEGER" property="isVisible" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="is_top" jdbcType="VARCHAR" property="isTop" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <association property="user" column="user_id"  javaType="com.sgis.entity.User" resultMap="com.sgis.dao.UserDao.userMap"></association>  
  </resultMap>
  
  
    <select id="getDictionaryById"  resultMap="dictionaryMap">  
        SELECT * FROM basic_dictionary where id = #{id}
    </select> 
</mapper>